@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url(./assets/Head-bg.jpg);
    background-size: cover;
    background-position: center;
}